@model int?
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<br />
<h2>Checkout Done</h2>
<p>Thank you for the shopping.The Order No: @Model</p>
<p>
    @Html.ActionLink("Continue shopping","Index","Home")
</p>
